@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body,
html {
  background-color: rgb(234, 237, 237);
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: local("NeueHaasDisplay"),
   url("./fonts/NeueHaasDisplay/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: bold;
 }
 


@layer base {
  button{
    @apply border border-black  rounded-sm px-5 py-1;
  }
}